{% load display_tags %}
{% load static %}

<link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<div class="row" style="margin-bottom: 150px; margin-top: 150px;">
	
	<center>
<img src="{{ product.logo|image_to_data_uri }}" alt="logo" style="max-width: 800px;"/>
</center>
	
	
	<div class="col-lg-12" style="margin-top: 150px;">
		<p class="text-right" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 27px;">Rapport de pentest</p>
		<p class="text-right card-title">{{ product.name }}</p>
		<b id="meta_info" class="text-right">{{ meta_info }}</b>
		<p class="text-right"><strong>Generated:</strong> {% display_date %}</p>
	<hr style="border-top: 1px solid #222;">
</div>

	
</div>

